# Copy file ini jadi .env, lalu sesuaikan nilainya.
# File .env TIDAK di-commit ke Git.

# URL Backend
VITE_API_BASE_URL=/api

# Mode mock: true = pakai data dummy, false = pakai backend asli
VITE_USE_MOCK=true